---
import IndexPage from "../../layouts/IndexPage.astro";
import {sortPostsByDate} from "../../utils/sortPostsByDate";
import {getCollectionByName} from "../../utils/getCollectionByName";

let posts = await getCollectionByName("posts");
let newsletter = await getCollectionByName("newsletter");

let sortedPosts = sortPostsByDate(posts.concat(newsletter));
---

<IndexPage frontmatter={{ comment: false, title: "Posts" }}>
  <h1 class="text-3xl fa-2x mb-5 mt-10">Posts</h1>
  You can get new posts in your favorite RSS reader via <a class="truncate cursor-pointr mt-1 header-link-active hover:text-skin-active" href="/posts/rss.xml">the dedicated RSS feed.</a>
  <div>
    <ul>
  {
    sortedPosts.map((post) => (
      <li style="list-style-type: disc;" class="ml-4 my-2">
          <a class="flex text-l" href= {`/${post.collection === 'posts' ? post.slug : `${post.collection}/${post.slug}`}`}>
            <p class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500">{post.data.title}</p>
          </a>
      </li>
      ))
  }
</ul>
</div>
</IndexPage>
