---
import IndexPage from "../../layouts/IndexPage.astro";
import {sortPostsByDate} from "../../utils/sortPostsByDate";
import {getCollectionByName} from "../../utils/getCollectionByName";

let posts = await getCollectionByName("posts");
let newsletter = await getCollectionByName("newsletter");

let sortedPosts = sortPostsByDate(posts.concat(newsletter));
---

<IndexPage frontmatter={{ comment: false, title: "Posts" }}>
  <h1 class="text-3xl mb-5 font-bold">Essays.</h1>
  You can get new posts in your favorite RSS reader via <a class="truncate mt-1 header-link-active cursor-pointer decoration-skin-base hover:text-skin-active" href="/posts/rss.xml">the dedicated RSS feed.</a>
  <div>
    <ul>
  {
    sortedPosts.map((post) => (
      <li class="mb-3 content-item" data-collection={post.collection} style="display: list-item;">
        <i class="ri-pen-nib-line mr-2 mt-2 text-lg" />
        <a
          class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500"
          href={post.collection === "posts" ? `/${post.slug}/` : `/${post.collection}/${post.slug}/`}
        >
          <strong class="text-lg">{post.data.title}</strong>
        </a>
      </li>
      ))
  }
</ul>
</div>
</IndexPage>