---
import IndexPage from "../../layouts/IndexPage.astro";
import getUniqueTags from "../../utils/getUniqueTags";
import getPostsByTag from "../../utils/getPostsByTag";
import {sortPostsByDate} from "../../utils/sortPostsByDate";
import { getAllContent } from "../../utils/getAllContent";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getAllContent();
  const tags = getUniqueTags(posts).filter((tag) => tag);
  return tags.map((tag) => {
    return {params: {tag,}, props: {tag,},};
  });
}
const {tag} = Astro.props;
let posts = await getAllContent();
const tagPosts = getPostsByTag(posts, tag);
const resultPosts = sortPostsByDate(tagPosts);
---

<IndexPage frontmatter={{title: "The Index of" + tag}}}>
  <h1 class="text-xl">Index of "<span class="header-link-active">{tag.includes("_") ? tag.split("_").join(" > ").split("-").join(" ") : tag.split("-").join(" ")}</span>"</h1>

  <ul class="text-skin-base">
    {
      resultPosts.map((post) => (
      <li style="list-style-type: disc;" class="ml-4 my-2">
        <a href={post.collection == 'posts' ? "/" + post.slug : '/' + post.collection + '/' + post.slug}>
          <span class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500">
            {post.data.title}
          </span>
        </a>
        in <a class = "hover:text-skin-active" href=`/${post.collection}/`><b>{post.collection}</b></a>
        <em>{post.collection == 'notes' ? " with zettel ID: " + post.data.zettelId : ""}</em>
      </li>
      ))
    }
  </ul>
</IndexPage>
