---
import { site } from '../consts';
import BlogPost from '../layouts/BlogPost.astro'
import {getCollectionByName} from "../utils/getCollectionByName";
import _ from 'lodash'
import { sortPostsByDate } from '../utils/sortPostsByDate';
import { formatDate } from '../utils/formatDate';

let posts = await getCollectionByName("posts");
let sortedPosts = await sortPostsByDate(posts).slice(0, site.homePageShowcaseSize);

let books = await getCollectionByName("books");
let sortedBooks = await sortPostsByDate(books).slice(0, site.homePageShowcaseSize);

let journals = await getCollectionByName("journal");
let sortedJournals = await sortPostsByDate(journals).slice(0, site.homePageShowcaseSize);

let notes = await getCollectionByName("notes");
let sortedNotes = await sortPostsByDate(notes).slice(0, site.homePageShowcaseSize);

---

<BlogPost frontmatter={{ comment: false, title: "Home" }}>
  <section class="mb-8">
    <p class="mb-5">
      I'm a writer and software engineering leader. I'm interested in many things like reading good books, philosophy, psychology, software architecture & design, urban & industrial design, exercising, and eating healthy.
    </p>

  </section>

  <p class="mb-5">I used to think reading would help me learn. One day, ten pages before finishing a book, I realized I had read that book before. At that point, I decided to change a few things.</p>

  <p class="mb-10">That's why this blog exists. You'll find all my notes, how I evolved, and my reflections on the complicated life and how I navigate my life with things I mentioned above.</p>

  <p class="mb-5 mt-20 flex ">Want the longer story?<a class="ml-1 mr-1 header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/about/">See my about page.</a></p>

  <p class="mb-5 mt-20 flex ">What am I Doing Now?<a class="ml-1 mr-1 header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/now/">See my "now" page.</a></p>

  <p class="mb-5 mt-20 flex ">Want to follow me? <a class="ml-1 mr-1 header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/newsletter/">Subscribe via email</a> or <a class="ml-1 mr-1 header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/newsletter/"> follow via RSS.</a></p>

  <div class="divider-horizontal"/>

  <a class="text-xl mb-5 mt-20 font-bold flex header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/posts/">Newest Posts</a>
  <ul>
    {
      sortedPosts.map((post) => {
        return (
        <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
          <a class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href={'/' + post.slug}>
            <strong>{post.data.title}</strong>
          </a>
          <div class="text-text-muted text-sm italic pt-1">
            <time datetime={post.data.date.toISOString()}>
              {formatDate(post.data.date)}
            </time>
          </div>
        </li>
        );
      })
    }
  </ul>

  <div class="divider-horizontal"/>

  <a class="text-xl mb-5 mt-20 font-bold flex header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/journal/">Journal</a>
  <ul>
    {
      sortedJournals.map((journalEntry) => {
        return (
        <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
          <a class="flex underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href={'/journal/' + journalEntry.slug}>
            <strong>{journalEntry.data.title}</strong>
          </a>
          <div class="text-text-muted text-sm italic pt-1">
            <time datetime={journalEntry.data.date.toISOString()}>
              {formatDate(journalEntry.data.date)}
            </time>
          </div>
        </li>
        );
      })
    }
  </ul>

  <div class="divider-horizontal"/>

  <a class="text-xl mb-5 mt-20 font-bold flex header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/notes/">Notes</a>
  <p>These notes are in my Slip-Box in my Zettelkasten. We can call them as Digital Garden as well but I prefer calling the whole system Zettelkasten. Here are the latest added notes:</p>
  <ul>
    {
      sortedNotes.map((zettel) => {
        return (
        <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
          <a class="flex underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href={'/notes/' + zettel.slug}>
            <strong>{zettel.data.zettelId}: {zettel.data.title}</strong>
          </a>
          <div class="text-text-muted text-sm italic pt-1">
            <time datetime={zettel.data.date.toISOString()}>
              {formatDate(zettel.data.date)}
            </time>
          </div>
        </li>
        );
      })
    }
  </ul>

  <div class="divider-horizontal"/>

  <a class="text-xl mb-5 mt-20 font-bold flex header-link-active underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/books/">Book Notes </a>
  <p>I share either a full book review or a single-chapter note from the books I read.</p>
  <ul>
    {
      sortedBooks.map((note) => {
        return (
        <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
          <a class="flex underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href={'/books/' + note.slug}>
            <strong>{note.data.title}</strong>
          </a>
          <div class="text-text-muted text-sm italic pt-1">
            <time datetime={note.data.date.toISOString()}>
              {formatDate(note.data.date)}
            </time>
          </div>
        </li>
        );
      })
    }
  </ul>

</BlogPost>

