---
import { readAll } from "../lib/markdoc/read";
import { newsletters } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

const mektups = await readAll({
  directory: "newsletter/mektup",
  frontmatterSchema: newsletters,
});

const sortedMektups = mektups
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );

const mediations = await readAll({
  directory: "newsletter/mediations",
  frontmatterSchema: newsletters,
});

const sortedMediations = mediations
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Newsletter | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h1 class="fa-stack-1x fa-2x mb-5 mt-10">Mediations Newsletter</h1>
    <p>I always feel like I'm mediating (or maybe negotiating) between multiple aspects and constraints of the complicated life and searching for the balance between leadership, software engineering, personal life, and the world.</p>
    <p class="mt-5">I share my thoughts on my newsletter. I send posts, essays, articles, book notes, and podcast episodes as email via the same newsletter too. You can also get all letters via <a href="/newsletter/rss.xml">a dedicated RSS feed</a> to your favorite RSS reader.</p>

    <form name="newsletter-subscription"  class="mt-10" netlify-honeypot="bot-field" netlify>
      <p>
        <p class="mb-5">You can subscribe by giving me your email. I can add you to my list.</p>

        <label>Email:
          <input
            type="email"
            name="email"
            placeholder="contact@candost.blog"
            class="font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 border focus:outline-none dark:focus:ring-primary-blue"
            style="color:black">
        </label>

        <button
          type="submit"
          class="text-black bg-primary-yellow hover:bg-primary-blue focus:ring-4 focus:ring-primary-blue font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-yellow dark:hover:bg-primary-green focus:outline-none dark:focus:ring-primary-blue">
          Subscribe
        </button>
      </p>
    </form>

    <p class="mt-5 mb-10">Or you can <a href="https://mediations.candost.blog/welcome/">head to Substack and subscribe there</a> if you have a Substack account.</p>

    <h2 class="text-2xl/8">Archive</h2>

    <ul>
      {
        sortedMediations.map((mediation) => {
          const formattedDate = new Date(
          mediation.frontmatter.date
          ).toISOString().slice(0,10);
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                  <a
                    href={`/newsletter/${mediation.slug}`}
                    class="unset
                        transition-[background-size] duration-300
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    {mediation.frontmatter.title}
                  </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={mediation.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>

    <hr class="solid">
    <p class="mb-10 mt-10">I used to write another newsletter called Mektup. They were casual letters reflecting my learnings and thoughts about software engineering leadership and life and was arriving every second Tuesday. I stopped Mektup and embedded into this blog.</p>
    <p class="text-lg mb-5">You can see the archive of Mektup here:</p>
    <ul>
      {
        sortedMektups.map((mektup) => {
          const formattedDate = new Date(
          mektup.frontmatter.date
          ).toISOString().slice(0,10);
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                  <a
                    href={`/newsletter/${mektup.slug}`}
                    class="unset
                        transition-[background-size] duration-300
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    {mektup.frontmatter.title}
                  </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={mektup.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>


