---
import { readAll } from "../lib/markdoc/read";
import { newsletters } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

const letters = await readAll({
  directory: "newsletter",
  frontmatterSchema: newsletters,
});

const sortedLetters = letters
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Newsletter | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">

    <iframe class="fa-2x relative not-prose flex flex-col items-center justify-center" src="https://mediations.candost.blog/embed" width="100%" height="320" style="border:1px solid #EEE; background:white;"></iframe>

    <h1 class="fa-2x">Archive</h1>
    <ul>
      {
        sortedLetters.map((letter) => {
          const formattedDate = new Date(
            letter.frontmatter.date
          ).toISOString().slice(0,10);
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                  <a
                    href={`/newsletter/${letter.slug}`}
                    class="unset
                        transition-[background-size] duration-300
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    {letter.frontmatter.title}
                  </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={letter.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>


