---
import { readAll } from "../lib/markdoc/read";
import { newsletters } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE, SITE_URL } from "../config";

const letters = await readAll({
  directory: "newsletter",
  frontmatterSchema: newsletters,
});

const sortedLetters = letters
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  );
---

<PageLayout>
  <PageMeta title={`Newsletter | ${SITE_TITLE}`} slot="meta" />
  <section slot="main">
    <h1 class="fa-stack-1x fa-2x mb-5 mt-10">Mediations Newsletter</h1>
    <p>I always feel like I'm mediating (or maybe negotiating) between multiple aspects and constraints of the complicated life and searching for the balance between leadership, software engineering, personal life, and the world.</p>
    <p class="mt-5">I share my thoughts on my newsletter. You can subscribe below. I send essays, book notes, and podcast episodes as email via the same newsletter too. You can also get all letters via <a href="/newsletter/rss.xml">a dedicated RSS feed</a> to your favorite RSS reader.</p>

    <iframe class="mb-10 mt-10" src="https://mediations.candost.blog/embed" width="100%" height="160"></iframe>

    <p class="mb-10 mt-10">I used to write another newsletter called Mektup. They were casual letters reflecting my learnings and thoughts about software engineering leadership and life and was arriving every second Tuesday. I stopped Mektup and embedded into this blog.</p>
    <p class="mb-5"><u>You can see the archive of Mektup here:</u></p>
    <ul>
      {
        sortedLetters.map((letter) => {
          const formattedDate = new Date(
            letter.frontmatter.date
          ).toISOString().slice(0,10);
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                  <a
                    href={`/newsletter/${letter.slug}`}
                    class="unset
                        transition-[background-size] duration-300
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    {letter.frontmatter.title}
                  </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={letter.frontmatter.date.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>


