---
import { readAll } from "../lib/markdoc/read";
import { notes } from "../lib/markdoc/frontmatter.schema";
import PageLayout from "../layouts/PageLayout.astro";
import PageMeta from "../components/PageMeta.astro";
import { SITE_TITLE } from "../config";

const zettels = await readAll({
  directory: "notes",
  frontmatterSchema: notes,
});

const sortedZettels = zettels
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      parseInt(a.frontmatter.zettelId) -
      parseInt(b.frontmatter.zettelId)
  );
---

<PageLayout>
  <PageMeta title={`Notes | ${SITE_TITLE}`} slot="meta" description="Candost's Zettelkasten"/>
  <section slot="main">

    <h1 class="fa-stack-1x fa-2x mb-5 mt-10">Notes</h1>
    <p class="mt-5">These are my short notes keep to myself. Yet, I want to make them publicly available.</p>
    <p class="mt-3">These notes are in my Slip-Box in my Zettelkasten.</p>
    <p class="mt-3">The number in front of the note indicates a Zettel number in my Slip-Box. I use them to link a note to other notes. The numbering system I adapted is directly from the Zettelkasten.</p>
    <p class="mt-3">If you dive into notes, you'll see all notes are connected to each other but not all notes have sources linked to it. Many notes have references in my non-public Zettelkasten; I didn't want to open up those exact references because there is no value for anyone as they are not well-organized or well-written. Here, I only share the name of the resource instead of the exact reference (e.g., page number in a book).</p>
    <p class="mt-3">All notes have published and update dates. Published dates represent the time I added the note to my Zettelkasten. Yet, many notes has the exact same creation date because I moved my notes between different softwares (from Notion to Obsidian) and lost the creation dates during migration. 🤷</p>

    <p class="mb-10">You can get new notes in your favorite RSS reader via <a href="/notes/rss.xml">the dedicated RSS feed</a>.</p>

    <p class="fa-m mb-10 mt-10">The notes are ordered by their Zettel numbers, not chronologically.</p>

    <ul>
      {
        sortedZettels.map((zettel) => {
          const formattedDate = new Date(
            zettel.frontmatter.date
          ).toISOString().slice(0,10);
          return (
            <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
              <div class="title">
                  <a
                    href={`/notes/${zettel.slug}`}
                    class="unset
                        transition-[background-size] duration-300
                        bg-gradient-to-r bg-left-bottom bg-no-repeat
                        bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                        from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                      "
                  >
                    {zettel.frontmatter.zettelId}: {zettel.frontmatter.title}
                  </a>
              </div>
              <div class="text-text-muted text-sm italic pt-1">
                <time datetime={zettel.frontmatter.updateDate.toISOString()}>
                  {formattedDate}
                </time>
              </div>
            </li>
          );
        })
      }
    </ul>
  </section>
</PageLayout>
