---
import { readAll } from "../lib/markdoc/read";
import { blog, podcast, books } from "../lib/markdoc/frontmatter.schema";
import { SITE_URL } from "src/config";

const posts = await readAll({
  directory: "posts",
  frontmatterSchema: blog,
});

const sortedPosts = posts
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  )
  .slice(0,5);

  const episodes = await readAll({
  directory: "podcast",
  frontmatterSchema: podcast,
});

const sortedEpisodes = episodes
  .filter((e) => e.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  )
  .slice(0,1);

  const bookNotes = await readAll({
  directory: "books",
  frontmatterSchema: books,
});

const sortedBookNotes = bookNotes
  .filter((p) => p.frontmatter.draft !== true)
  .sort(
    (a, b) =>
      new Date(b.frontmatter.date).valueOf() -
      new Date(a.frontmatter.date).valueOf()
  ).slice(0, 5);

---

<p class="mb-5">I used to think reading would help me learn. One day, ten pages before finishing a book, I realized I had read that book before. At that point, I decided to change a few things.</p>

<p class="mb-10">On this website, you'll find how I evolved, what I learned, and my reflections on the complicated life and how I navigate my life with things I mentioned above.</p>

<h2 class="mb-5">Want the longer story? <small>See <a href="/about">my "about" page</a>.</small></h2>

<h2  class="mb-20">What am I Doing Now? <small>See <a href="/now">my "now" page</a>.</small></h2>

<h2 class="fa-xl mb-5">Mediations Newsletter</h2>
<p>I always feel like I'm mediating (or maybe negotiating) between multiple aspects and constraints of the complicated life and searching for the balance between leadership, software engineering, personal life, and the world.</p>
<p class="mt-5">I share my thoughts on my newsletter. You can subscribe below. I send posts and book notes as email via the same newsletter too.</p>

<form name="newsletter-subscription-home"  class="mt-10" netlify-honeypot="bot-field" netlify>
  <p>
    <p class="mb-5">You can subscribe by giving me your email. I can add you to my list.</p>

    <label>Email:
      <input
        type="email"
        name="email"
        placeholder="contact@candost.blog"
        class="font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 border focus:outline-none dark:focus:ring-primary-blue"
        style="color:black">
    </label>

    <button
      type="submit"
      class="text-black bg-primary-yellow hover:bg-primary-blue focus:ring-4 focus:ring-primary-blue font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-yellow dark:hover:bg-primary-green focus:outline-none dark:focus:ring-primary-blue">
      Subscribe
    </button>
  </p>
</form>

<p class="mb-20 mt-5">You can also get everything on this blog via <a href={`${SITE_URL}/rss.xml`}>RSS</a>.</p>

<h2 class="fa-xl mb-5">Newest Posts <small><a href="/posts">SEE ALL</a></small></h2>
<ul>
  {
    sortedPosts.map((post) => {
      const formattedDate = new Date(
        post.frontmatter.date
      ).toISOString().slice(0,10);


      return (
        <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
          <div class="title">
            {post.frontmatter.external ? (
              <a
                href={post.frontmatter.url}
                target="_blank"
                class="unset
                    transition-[background-size] duration-300
                    bg-gradient-to-r bg-left-bottom bg-no-repeat
                    bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                    from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                  "
              >
                <span>{post.frontmatter.title}</span>
                <span>
                  <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                </span>
              </a>
            ) : (
              <a
                href={`/${post.slug}`}
                class="unset
                    transition-[background-size] duration-300
                    bg-gradient-to-r bg-left-bottom bg-no-repeat
                    bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                    from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                  "
              >
                {post.frontmatter.title}
              </a>
            )}
          </div>
          <div class="text-text-muted text-sm italic pt-1">
            <time datetime={post.frontmatter.date.toISOString()}>
              {formattedDate}
            </time>
          </div>
        </li>
      );
    })
  }
</ul>


  <h2 class="fa-xl mt-20 mb-5">Podcast <small><a href="/podcast">SEE ALL</a></small></h2>
  <em><p>Software World Podcast uncovers journeys of people and software systems. I sometimes interview the uncelebrated (or famous) experts or sometimes talk alone about a topic I'm researching or thinking about.</p></em>

    <p class="fa-m mt-10 mb-10">
        {
          sortedEpisodes.map((post) => {
            return (
                    <a
                      href={post.frontmatter.url}
                      target="_blank"
                      class="unset
                          transition-[background-size] duration-300
                          bg-gradient-to-r bg-left-bottom bg-no-repeat
                          bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                          from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                        "
                    >
                      <span><u>Latest Episode:</u> {post.frontmatter.title}</span>
                    </a>
                  )})
                </p>
    </p>

  <p>Subscribe at
      <a href="https://podcasts.apple.com/podcast/software-world-with-candost/id1548135276" target="_blank">Apple</a>,
      <a href="https://open.spotify.com/show/2IoILbfQYu4dLiQpjEBKXk" target="_blank">Spotify</a>,
      <a href="https://overcast.fm/itunes1548135276/software-world-with-candost">Overcast</a>,
      <a href="https://mediations.candost.blog/s/podcast">Substack</a>,
      <a href="https://api.substack.com/feed/podcast/470204/s/59110.rss">copy the master RSS</a> to paste into your favorite player, or
      <a href="/podcast">listen on other platforms</a>.
    </p>


<h2 class="fa-xl mt-20 mb-5">Book Notes <small><a href="/books">SEE ALL</a></small></h2>
<p>I share either a full book review or a single-chapter note from the books I read.</p>
<p>Latest ones:</p>
<ul>
  {
    sortedBookNotes.map((note) => {
      const formattedDate = new Date(
      note.frontmatter.date
      ).toISOString().slice(0,10);


      return (
        <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-start">
          <div class="title">
            {note.frontmatter.external ? (
              <a
                href={note.frontmatter.url}
                target="_blank"
                class="unset
                    transition-[background-size] duration-300
                    bg-gradient-to-r bg-left-bottom bg-no-repeat
                    bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                    from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                  "
              >
                <span>{note.frontmatter.title}</span>
                <span>
                  <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square" />
                </span>
              </a>
            ) : (
              <a
                href={`/books/${note.slug}`}
                class="unset
                    transition-[background-size] duration-300
                    bg-gradient-to-r bg-left-bottom bg-no-repeat
                    bg-[length:0%_55%] hover:bg-[length:100%_55%] dark:bg-[length:0%_2px] hover:dark:bg-[length:100%_2px]
                    from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
                  "
              >
                {note.frontmatter.title}
              </a>
            )}
          </div>
          <div class="text-text-muted text-sm italic pt-1">
            <time datetime={note.frontmatter.date.toISOString()}>
              {formattedDate}
            </time>
          </div>
        </li>
      );
    })
  }
</ul>
