---
---


<h2> Wanna learn the longer story? </h2>
See my <a href={"/about"} target="_blank">about page</a>.

<div class="l-wrapper">
  <h1 class="m-hero-title">Hey, I'm Candost.</h1>

  <h2>I am a software engineering manager.</h2>

  <p>I used to think reading would help me learn.</p>

  <p>One day, ten pages before finishing a book, I realized I had read that book before. At that point, I decided to change a few things.</p>

  <p>On this website, you'll find how I evolved, what I learned, and my reflections on the complicated life, software engineering, leadership, and world.</p>

  <h2>Want the longer story?<small>See <u><a href="https://candost.blog/about/">my "about" page</a></u>.</small></h2>


  <h2>What am I Doing Now?<small>See <u><a href="https://candost.blog/now/">my "now" page</a></u>.</small></h2>


  <h2>Emails<small><u><a href="https://candost.blog/mektup/">SEE ALL</a></u></small></h2>
  <em><p>Every second Tuesday, I send <b><u><a href="https://candost.blog/mektup/" target="_blank">Mektup</a></u></b>, a newsletter that arrives as casual letters reflecting my learnings and thoughts about software engineering, leadership, productivity, and life.</p></em>
  <p>I also send notifications of my new blog posts and podcast episodes. You can unsubscribe from any of them separately whenever you want.</p>

  <h3>
    <p>Latest Issue:
    <!-- {{#get "posts" filter="tags:mektup-archive" limit="1" visibility="all"}}
      {{#foreach posts}}
        <a href="{{url}}" aria-label="{{title}}"><u>{{title}}</u></a>
      {{/foreach}}
    {{/get}} -->
    </p>
  </h3>



  <h2>Newest Articles<small><u><a href="https://candost.blog/articles/">SEE ALL</a></u></small></h2>
  <ul>
  <!-- {{#get "posts" limit="6" filter="tags:-[book-review-and-notes,mektup-archive,podcast-archive,micro]"}}
    {{#foreach posts}}
      <li class="{{post_class}}" style="list-style-type: none;">
        <div class="m-article-card__info-link">
          <div class="m-article-card__timestamp">
            <a href="{{url}}" aria-label="{{title}}">
              <h2 class="m-article-card__title js-article-card-title" title="{{title}}">
                <u>{{title}}</u>
              </h2>
            </a>
          </div>
        </div>
      </li>
    {{/foreach}}
  {{/get}} -->
  </ul>


  <div class="home-podcast">
    <h2>Podcast
      <small>
        <u><a href="https://candost.blog/podcast/">SEE ALL EPISODES</a></u>
      </small>
    </h2>
    <em><p>Software World Podcast is a series of interviews with industry experts and knowledge sharing episodes. Each episode uncovers a problem and a journey.</p></em>
    <h3 style="font-size: 1.3rem;">
      <p>Latest Episode:
      <!-- {{#get "posts" filter="tags:podcast-archive" limit="1" visibility="all"}}
        {{#foreach posts}}
          <a href="{{url}}" aria-label="{{title}}"><u>{{title}}</u></a>
        {{/foreach}}
      {{/get}} -->
      </p>
    </h3>
    <p>Subscribe at
        <u><a href="https://podcasts.apple.com/podcast/software-world-with-candost/id1548135276" target="_blank">Apple</a></u>,
        <u><a href="https://open.spotify.com/show/2IoILbfQYu4dLiQpjEBKXk" target="_blank">Spotify</a></u>, or
        <u><a href="https://overcast.fm/itunes1548135276/software-world-with-candost">Overcast</a></u>, or
        <u><a href="https://candost.blog/podcast/">on other platforms</a></u>.
      </p>
  </div>


  <h2>Book Notes<small><u><a href="https://candost.blog/book-review-and-notes/">SEE ALL</a></u></small></h2>
  <ul>
    <!-- {{#get "posts" filter="tags:book-review-and-notes" limit="5" visibility="all"}}
        {{#foreach posts}}
          <li class="{{post_class}}" style="list-style-type: none;">
            <div class="m-article-card__info-link">
              <div class="m-article-card__timestamp">
                <a href="{{url}}" aria-label="{{title}}">
                  <h2 class="m-article-card__title js-article-card-title" title="{{title}}">
                    <u>{{title}}</u>
                  </h2>
                </a>
              </div>
            </div>
          </li>
        {{/foreach}}
    {{/get}} -->
  </ul>

  <h2>Microblogs<small><u><a href="https://candost.blog/micro/">SEE ALL</a></u></small></h2>
  <em><p>
    If Twitter goes down, all my words would be lost if I only share microblogs there. Therefore, instead of writing on platforms like Twitter or Mastodon, I share my microblogging here. I don't send emails for microblogs. They are distributed as a part of Mektup and in RSS.</p></em>
  <ul>
  <!-- {{#get "posts" limit="5" filter="tags:[micro]"}}
    {{#foreach posts}}
      <li class="{{post_class}}" style="list-style-type: none;">
        <div class="m-article-card__info-link">
          <div class="m-article-card__timestamp">
            <a href="{{url}}" aria-label="{{title}}">
              <h2 class="m-article-card__title js-article-card-title" title="{{title}}">
                <u>{{title}}</u>
              </h2>
            </a>
          </div>
        </div>
      </li>
    {{/foreach}}
  {{/get}} -->
  </ul>



  <h2>Want to reach me?</h2>
    <em><p>
      Send me an email at candost[at]candostdagdeviren[dot]com. Also, you can send me a collaboration request on
      <u><a href="https://polywork.com/candost/">Polywork</a></u>.
      </p>
    </em>

</div>