---
import {site} from "../consts";
const currentPath = Astro.url.pathname;
---

<div class="text-center my-4">
  <a
    class="inline-block w-2/3 mx-auto text-center m-1 p-5 text-xl rounded-lg shadow-md font-medium hover:opacity-90 transition-opacity text-black"
    style="background-color: rgb(var(--color-primary-yellow));"
    href=`mailto:contact@candostdagdeviren.com?subject=Re:%20${site.url}${currentPath}`
    target="_blank">
    Reply via email.
  </a>

  <p>or comment below.</p>
</div>

<!-- <div class="border-l-4 my-4 p-4 border-l-skin-base bg-skin-card break-all">
  {title ?
    <div>{t('footer.articleTitle')}：{title}</div> : ''}
  {
    site.author ?
      <div>{t('footer.articleAuthor')}：{site.author}</div> : ''
  }

  {
    date ?
      <div>{t('footer.releaseTime')}：{formatDate(date)}</div> : ''
  }
  {
    site.url?   <div>
      {t('footer.originalLink')}：<a href={site.url + '/' + url} class="hover:text-skin-active">{site.url + '/' + url}</a>
    </div>: ''
  }
</div> -->
