---
import {getCollectionByName} from "../utils/getCollectionByName";
import getCountByCategory from "../utils/getCountByCategory";
import {sortPostsByDate} from "../utils/sortPostsByDate";
import {site} from '../consts'
import {t} from '../i18n/utils'
import NewsletterForm from "./NewsletterForm.astro";
const posts = await getCollectionByName('posts')
let categoryCount = getCountByCategory(posts);
let sortPosts = await sortPostsByDate(posts);
let favorites = sortPosts.filter(post => post.data.favorite);
let resultPosts = favorites.splice(0, site.recentPostsSize);
---

<div>
  <div class="aside-widget text-xl">
    <i class="ri-newspaper-line menu-icon"></i>Mediations Newsletter
  </div>
  <div class="flex flex-col">
    <p  class="mt-5" style="white-space:pre-wrap; word-break:break-word;"><em>Timeless insights into humans, software, and leadership.</em></p>
    <p class="mt-5" style="white-space:pre-wrap; word-break:break-word;">Join hundreds of subscribers and learn how to live fully, feel accomplished and get your job done.</p>
    <p class="mt-5 mb-5" style="white-space:pre-wrap; word-break:break-word;">Every second Tuesday. For free.</p>
    <NewsletterForm/>
  </div>
</div>
<div>
  <div class="aside-widget mt-10 text-xl">
    <i class="ri-sparkling-line"></i>&nbsp;Most Popular Posts
  </div>
  <div class="flex flex-col">
    {
      resultPosts.map((post) => (
      <a
      href={"/" + post.slug}
      class="truncate cursor-pointr mt-1 hover:text-skin-active"
      title={post.data.title}
      >
      {post.data.title}
    </a>
    ))
  }
</div>
</div>

<div>
  {
    Object.keys(categoryCount).length > 0 && (
    <div class="aside-widget mt-10">
      <i class="ri-folder-line menu-icon"/>{t('sidebar.categories')}
    </div>
    )
  }
  <div class="flex flex-wrap">
    {
      Object.keys(categoryCount).map((category) => (
      <a
      class="my-1 truncate block hover:text-skin-active"
      title={category + " (" + categoryCount[category] + ")"}
      href={"/category/" + category}
      >
      {(category === 'uncategorized' ? t('sidebar.uncategorized') : category) + " (" + categoryCount[category] + ")"}
    </a>
    ))
  }
</div>

<div>
  <div class="aside-widget mt-10 text-xl">
    <i class="ri-user-search-line"></i>&nbsp;More About Candost
  </div>
  <div class="flex flex-col">
    <a
    href="/now/"
    class="truncate cursor-pointr mt-1 hover:text-skin-active"
    title=Now
    >Now
  </a>
  <a
  href="/about/"
  class="truncate cursor-pointr mt-1 hover:text-skin-active"
  title=About
  >About
</a>
<a
href="/blogroll"
class="truncate cursor-pointr mt-1 hover:text-skin-active"
title=Blogroll
>Blogroll
</a>
</div>
</div>


<!-- <div>
{
tagArr.length > 0 && (
<div class="aside-widget mt-10">
<i class="ri-price-tag-3-line menu-icon"/>
{t('sidebar.tags')}
</div>
)
}
<div class="flex flex-wrap">
{
tagArr &&
tagArr.map((tag) =>
<a class="inline-block truncate m-1 border p-1 text-sm rounded hover:text-skin-active" title={tag} href={"/tags/" + tag}>{tag}</a>
)
}
</div>
</div> -->


<!-- {comment.enable && comment.type === "waline" && <CommentAside/>} -->
