---
import FeedPostDate from "./FeedPostDate.astro";
const {data, body, slug} = Astro.props.post;
const {index} = Astro.props;

---

<div>
  <a
    class="text-xl font-bold underline-offset-4 decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500"
    href={`${slug}`}>{data.title}</a>
  <p
    class="break-word first-letter tracking-wide"
  >

  {
         body.length > 140
            ? body.replace(/^#+/gm, "")
                  .replace(/!?\[.*?\]\(.*?\)/g, "")
                  .substring(0, 140) + "..."
            : body.replace(/^#+/gm, "")
                  .replace(/!?\[.*?\]\(.*?\)/g, "")
        }


  </p>
  <div class="flex items-center justify-between mt-2 text-sm">
    <FeedPostDate date={data.date} index={index}/>
  </div>
</div>
