---
const { name, description, url } = Astro.props;
---

<a
  class="flex items-center h-24 shadow rounded-lg hover:cursor-pointer bg-skin-card w-auto p-2"
  href={url}
  target="_blank"
>

  <div
    style="height:80%"
    class="flex flex-col justify-around"
  >
    <div title={name} class="font-bold">
      {name}
    </div>
    <div title={description} class="text-sm">
      {description}
    </div>
  </div>
</a>
