---
import {getCollectionByName} from "../utils/getCollectionByName";
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro'
import MenuIcon from './MenuIcon.astro'
import {site, categories, infoLinks} from '../consts';
import AsideIcon from "./SidebarIcon.astro";
import { sortPostsByDate } from "../utils/sortPostsByDate";
const posts = await getCollectionByName('posts');
let sortPosts = await sortPostsByDate(posts);
let favorites = sortPosts.filter(post => post.data.favorite);
let resultPosts = favorites.splice(0, site.recentPostsSize);
---

<header class="fixed top-0 w-full bg-skin-fill text-skin-base z-10">
  <div class="flex items-center justify-between container">
    <div class="block xl:hidden">
      <MenuIcon></MenuIcon>
    </div>
    <a class="text-2xl p-4" href="/">{site.title}</a>
    <div class="flex items-center">
      <div class="hidden xl:block">
        <div class="flex items-center space-x-5 pr-4">
          {
            categories.map(category => (
            <HeaderLink href={category.href} icon={category.iconClass} target={category.target ? category.target : '_self'} children={category.children ? category.children : []}>{category.name}</HeaderLink>
            ))
          }
        </div>
      </div>
      <ThemeIcon></ThemeIcon>
      <div class="block xl:hidden">
        <AsideIcon></AsideIcon>
      </div>
    </div>
  </div>
  <div id="mobile-menu" class="hidden text-center overflow-y-auto pb-8" style="height: calc(100vh - 64px)">
    {
      categories.map((category) => (
      <div class="py-2">
        <a class=" hover:text-skin-active" href={category.href}>
          <i class={category.iconClass}/>
          <span>{category.name}</span>
        </a>
        {
          category.children && category.children.length > 0 &&
          <div class="divider-horizontal"></div>
        }
        <div class="space-y-4 text-sm">
          {
            category.children && category.children.map(sub =>
            (
            <a class="block hover:text-skin-active" href={sub.href}>
              <i class={sub.iconClass}/>
              <span>{sub.name}</span>
            </a>
            )
            )
          }
        </div>
      </div>
      ))
    }
  </div>
  <div id="personal-info" class="hidden break-all overflow-y-auto pb-8" style="height: calc(100vh - 64px)">
    <img class="avatar my-4 mx-auto" src={site.avatar} alt="avatar"/>
    <div class="mb-2 ml-5 mr-5 text-center" style="white-space:pre-wrap; word-break:break-word;">{site.motto}</div>
    <div class="flex items-center justify-center flex-wrap">
      {
        infoLinks.map((infoItem) => (
        <a title={infoItem.name} href={infoItem.outlink} target="_blank">
          <i class={infoItem.icon + " text-2xl mr-2 cursor-pointer"}/>
        </a>
        ))
      }
    </div>


    <div id="newsletter" class="mr-5 ml-5 mb-10">
      <div class="aside-widget mt-10 flex-col text-xl">
        <div><i class="ri-newspaper-line menu-icon"></i>Mediations Newsletter</div>
      </div>
      <div class="flex flex-col">
        <form name="newsletter-subscription-home" netlify-honeypot="bot-field" netlify>
          <p class="flex">
            <p  class="mb-2" style="white-space:pre-wrap; word-break:break-word;"><em>Timeless insights into humans, software, and leadership.</em></p>
            <p class="mb-2" style="white-space:pre-wrap; word-break:break-word;">Join hundreds of subscribers and learn how to live fully, feel accomplished and get your job done.</p>
            <p class="mb-2" style="white-space:pre-wrap; word-break:break-word;">Every second Tuesday. For free.</p>

            <input
            type="email"
            name="email"
            placeholder="contact@candost.blog"
            class="font-medium rounded-lg text-sm px-5 py-3 mb-2 border focus:outline-none dark:focus:ring-primary-blue"
            style="color:black; width: 100%">

            <button
            type="submit"
            class="bg-primary-yellow hover:bg-primary-blue focus:ring-4 focus:ring-primary-blue font-medium rounded-lg text-xl mb-2 dark:bg-primary-yellow dark:hover:bg-primary-green dark:focus:ring-primary-blue"
            style="color: rgb(62, 51, 85, 1); width: 100%; height: 50px;">
            Try it
          </button>
        </p>
      </form>
    </div>
  </div>

  <div id="best-posts" class="mr-5 ml-5 mb-10">
    <div class="aside-widget text-center flex-col text-xl">
      <div><i class="ri-sparkling-line"></i>&nbsp;My Best Posts</div>
    </div>
    <div class="flex flex-col">
      {
        resultPosts.map((post) => (
        <a
        href={"/" + post.slug}
        class="truncate cursor-pointr mt-1 hover:text-skin-active"
        title={post.data.title}
        >
        {post.data.title}
      </a>
      ))
    }
  </div>
</div>
<div id="more" class="mr-5 ml-5">
  <div class="aside-widget flex flex-col text-xl">
    <div><i class="ri-user-search-line"></i>&nbsp;More About Candost</div>
  </div>
  <div class="flex flex-col">
    <a
    href="/now/"
    class="truncate cursor-pointr mt-1 hover:text-skin-active"
    title=Now
    >Now
  </a>
  <a
  href="/about/"
  class="truncate cursor-pointr mt-1 hover:text-skin-active"
  title=About
  >About
</a>
<a
href="/blogroll"
class="truncate cursor-pointr mt-1 hover:text-skin-active"
title=Blogroll
>Blogroll
</a>
</div>
</div>
<!-- {
Object.keys(categoryCount).length > 0 && (
<div>
<i class="ri-folder-line menu-icon"/>{t('sidebar.categories')}
</div>
)
}
{
Object.keys(categoryCount).map((category) => (
<div class="my-2 break-all truncate">
<a class="hover:text-skin-active" title={category + " (" + categoryCount[category] + ")"} href={"/category/" + category}>
{category + " (" + categoryCount[category] + ")"}
</a>
</div>

))
}
{
tagArr.length > 0 && (
<div class="divider-horizontal-mini"></div>
<div class="text-center">
<i class="ri-price-tag-3-line menu-icon"/>
{t('sidebar.tags')}
</div>
)
}
{
tagArr &&
tagArr.map((tag) => (
<div class="my-2 break-all truncate">
<a class="hover:text-skin-active my-2" title={tag} href={"/tags/" + tag}>{tag + " (" + tagCount[tag] + ")"}</a>
</div>
))
} -->

</div>
</header>
