---
import HeaderLink from "./HeaderLink.astro";
import ThemeIcon from "./ThemeIcon.astro";
import MenuIcon from "./MenuIcon.astro";
import { navigationItems } from "../consts";
---

<header class="fixed w-full bg-skin-fill text-skin-base z-10">
  <div class="flex items-center container mx-auto justify-between">
    <div id="header-menu-button" class="pt-4 pb-4 block xl:hidden">
      <MenuIcon />
    </div>

    <div id="desktop-menu" class="flex-1 flex justify-center pt-4 pb-4">
      <div class="hidden xl:block">
        <div class="flex items-center space-x-5">
          {
            navigationItems.slice(0, navigationItems.length - 3).map((category) => (
              <HeaderLink
                href={category.href}
                icon={category.iconClass}
                target={category.target ? category.target : "_self"}
              >
                {category.name}
              </HeaderLink>
            ))
          }
        </div>
      </div>
    </div>
    <div class="flex items-center pt-4 pb-4">
      <ThemeIcon />
    </div>
  </div>
  <div id="mobile-menu" class="hidden text-center overflow-y-auto pb-8" style="height: calc(100vh - 64px)">
    {
      navigationItems.map((category) => (
        <div class="py-2">
          <a class="hover:text-skin-active" href={category.href}>
            <i class={category.iconClass} />
            <span>{category.name}</span>
          </a>
          {category.children && category.children.length > 0 && <div class="divider-horizontal" />}
          <div class="space-y-4 text-sm">
            {category.children &&
              category.children.map((sub) => (
                <a class="block hover:text-skin-active" href={sub.href}>
                  <i class={sub.iconClass} />
                  <span>{sub.name}</span>
                </a>
              ))}
          </div>
        </div>
      ))
    }
  </div>
</header>
