---
import IndexPage from "../../layouts/IndexPage.astro";
import { sortPostsByIssueNumberDec } from "../../utils/sortByIssueNumber";
import getPostsByTag from "../../utils/getPostsByTag";
import { getAllContent } from "../../utils/getAllContent";
import NewsletterForm from "../../components/NewsletterForm.astro";

let allPosts = await getAllContent();
let mediations = getPostsByTag(allPosts, "mediations");
let sortedMediations = await sortPostsByIssueNumberDec(mediations);

---

<IndexPage frontmatter={{ comment: false, title: "Mediations Newsletter" }}>
  <h1 class="text-3xl mb-5 font-bold">Mediations Newsletter.</h1>
  <div style="width: 100%;"><NewsletterForm /></div>

  <div>
    <h2 class="text-2xl">Latest:</h2>
    <ul>
      {
        sortedMediations.slice(0, 1)
        .map((post) => (
        <li class="mb-3 content-item" data-collection={post.collection} style="display: list-item;">
          <i class="ri-mail-check-line mr-2 mt-2 text-xl" />
          <a class="text-l" href={post.collection == 'posts' ? '/' + post.slug : '/' + post.collection + '/' + post.slug}>
            <span class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500"><strong>{post.data.newsletterName} #{post.data.issueNumber}:&nbsp;</strong>{post.data.title}</span>
          </a>
        </li>
        ))}
      </ul>
  </div>
<div>
  Archive:
  <ul>

    {
      sortedMediations.slice(1, sortedMediations.length)
      .map((post) => (
        <li class="mb-3 content-item" data-collection={post.collection} style="display: list-item;">
        <i class="ri-mail-check-line mr-2 mt-2 text-xl" />
        <a
          class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500"
          href={post.collection === "posts" ? `/${post.slug}/` : `/${post.collection}/${post.slug}/`}
        >
              <span class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500"><strong>{post.data.newsletterName} #{post.data.issueNumber}:&nbsp;</strong>{post.data.title}</span>
            </a>
          </div>
        </li>
      )
      )}
    </ul>
  </div>
  <div>
    <p class="italic text-sm">You can also get new letters to your favorite RSS reader via <a class="truncate mt-1 header-link-active cursor-pointer decoration-skin-base hover:text-skin-active" href="/newsletter/rss.xml">the dedicated RSS feed</a>.</p>
    <div class="divider-horizontal"/>
    <p class="mb-10 mt-10 text-sm">I used to write another newsletter called Mektup. If you want to find the archives,  <a class="underline-offset-4 cursor-pointer decoration-skin-base decoration-wavy hover:underline hover:decoration-sky-500" href="/mektup/">click here.</a></p>
  </div>
</IndexPage>
